.cell {
    width: 100%;
    padding: 4px;
    text-align: center;
    border: none;
    box-sizing: border-box;
    -moz-appearance: textfield;
    appearance: textfield;

    font-size: 16px;
    font-weight: normal;
}

.cell::-webkit-outer-spin-button,
.cell::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}

.cell.not-editable {
    background-color: #e5e2d4;
    color: black;
    font-weight: bold;
    font-size: 20px;
}

.cell.correct {
    background-color: #d4edda;
    color: #155724;
}

.cell.error {
    background-color: #f8d7da;
    color: #721c24;
}
