.cell {
    width: 100%;
    padding: 4px;
    text-align: center;
    border: none;
    box-sizing: border-box;
    -moz-appearance: textfield;
    appearance: textfield;

    font-size: 20px;
    font-weight: bold;
    color: black;
}

.cell::-webkit-outer-spin-button,
.cell::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}
